[ldquan]
	name = Lu Dinh Quan
	email = ludinhquan@gmail.com
[user]
	name = Lu Dinh Quan
	email = ludinhquan@gmail.com
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
