.DS_Store
.git

.config/*
!.config/alacritty
!.config/awesome
!.config/picom
!.config/skhd
!.config/tmux
!.config/yabai
!.config/zsh
!.config/ranger
!.config/rofi
!.config/nvim
!.config/hammerspoon
!.config/opencode
!.config/ghostty
!.config/wezterm
!.config/starship
!.config/karabiner.edn

.config/tmux/plugins
