.DS_Store
.git

.config/*
!.config/alacritty
!.config/awesome
!.config/picom
!.config/skhd
!.config/tmux
!.config/yabai
!.config/zsh
!.config/ranger
!.config/rofi
!.config/nvim
# !.config/karabiner
.config/nvim/db_ui
